<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Chat app</title>
      <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">
      <link href="/css/chat.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
      <ul id="messages" class="messages"></ul>
      <form action="/" method="POST" id="chatForm">
        <input class="inputText" id="txt" name="inputText" autocomplete="off" autofocus="on" placeholder="e.g /stock=yourCode" />
        <button class="btnSend" id="btnSend" name="btnSend">Send</button>
      </form>      
  </body>  
  <script src="../../socket.io/socket.io.js"></script>
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
  <script src="/src/chat.js"></script>  
</html>